<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<!-- Bean后处理器配置 -->
    <bean class="springdemo.postprocessor.MyBeanPostProcessor"></bean>
    
	<!-- 容器后处理器配置 -->
    <bean class="springdemo.postprocessor.MyBeanFactoryPostProcessor"></bean>
    
    <!-- 配置ApplicationContextAware 接口的实现类 用来Web环境下，没有ServletContext情况获取 ApplicationContext 对象 -->
    <bean id="springContextHelper" class="springdemo.contextaware.SpringContextHelper"></bean> 

	<bean id="userDao" class="springdemo.dao.UserDaoImpl"></bean>	
	
	<!-- 通过属性注入 -->
	<bean id="userService" class="springdemo.service.UserServiceImpl"  >	
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	
	
<!-- 	通过构造函数注入 -->
<!-- 	<bean id="userService" class="springdemo.service.UserServiceImpl"  > -->
<!-- 		<constructor-arg ref="userDao"></constructor-arg>	 -->
<!-- 	</bean> -->
	

<!-- 	根据名称自动注入 -->
<!-- 	<bean id="userService" class="springdemo.service.UserServiceImpl" autowire="byName"  >	 -->
<!-- 	</bean> -->

	
<!-- 	根据类型自动注入 -->
<!-- 	<bean id="userService" class="springdemo.service.UserServiceImpl" autowire="byType"  >	 -->
<!-- 	</bean> -->

<!-- 	根据构造函数自动注入 -->
<!-- 	<bean id="userService" class="springdemo.service.UserServiceImpl" autowire="constructor"  >	 -->
<!-- 	</bean> -->



</beans> 